# MongoDB Atlas
MONGODB_URI=
MONGODB_DB_NAME

# JWT
JWT_SECRET_KEY=your-super-secret-key-change-this-in-production

# AI (Python microservice)
GEMINI_API_KEY=your-gemini-api-key
AI_SERVICE_URL=http://127.0.0
